/*
 * The footer navigation
 */

$current-width: 19.5%;
$num-of-block: 7;

@include sticky-footer($footer-height, "#wrapper", "#footer-helper", "#footer");
#footer {
  overflow: hidden;

  &:before {
    position:absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    content:"";
    z-index: 3;
    @include single-box-shadow(#222, 0, 0, 18px);
  }
  .navigator_base {
    @include reset-box-model;
    display: block;
    height: 100%;
    line-height: $footer-height;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: $dark-grey;
    color: white;
    @include transition-property(width, background-color, color);
    @include transition-duration(200ms, 500ms, 500ms);
    @include transition-timing-function(linear);
    &:hover {
      background-color: lighten($dark-grey, 20%);
      color: darken(white, 70%);
    }
  }
  .navigator {
    @extend .navigator_base;
    width: (100% - $current-width) / $num-of-block;
    float: left;
    border-right: 1px solid darken($dark-grey, 20%);
    &:hover {
      width: $current-width !important;
    }
  }
  .navigator-last {
    @extend .navigator_base;
    overflow: hidden;
  }
  & > .navigator.selected {
    width: $current-width;
  }
  &:hover > .navigator.selected {
    width: (100% - $current-width) / $num-of-block;
  }
}
