/*
 * Declare style of Sponsor.
 */


@include keyframes(sponsor-movement) {
  0% {
    left: 100%;
    @include translateX(0);
    @include transparent;
  }
  5% {
    left: 100%;
    @include translateX(-100%);
    @include opaque;
  }
  95% {
    left: 0;
    @include translateX(0);
    @include opaque;
  }
  100% {
    left: 0;
    @include translateX(-100%);
    @include transparent;
  }
}

#content-wrapper {
  .sponsor-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    $duration: 15s;

    .sponsor-item {
      position: absolute;
      left: 100%;
      height: 17%;
      padding: 0.5em;
      text-align: center;
      background-color: $dark-grey;
      @include border-radius(5px);
      @include base-shadow;
      & > img {
        height: 100%;
      }
      &:hover {
        z-index: 15 !important;
      }
      &:after {
        @include transparent;
        @include single-transition(opacity, 150ms);
        @include border-radius;
        background: #444;
        color: #ccc;
        content: attr(tooltip);
        font-style: italic;
        padding: 5px 15px;
        top: 100%;
        margin-top: 8px;
        right: 30%;
        @include translateX(20%);
        position: absolute;
        z-index: 1;
        pointer-events: none;
        white-space: nowrap;
      }
      &:hover:after {
        @include opaque;
      }
      &:before {
        @include transparent;
        @include single-transition(opacity, 150ms);
        width: 0;
        height: 0;
        border: solid;
        border-color: #444 transparent;
        border-width: 0 6px 6px 6px;
        top: 100%;
        margin-top: 2px;
        content: "";
        right: 30%;
        position: absolute;
        z-index: 1;
        pointer-events: none;
      }
      &:hover:before {
        @include opaque;
      }

      &.moving {
        @include animation(sponsor-movement $duration linear 1);
      }
    }

    & > .spinner {
      display: none;
      z-index: 2;
    }
    &.loading {
      & > .spinner {
        display: block;
      }
    }
  }
}