/*
 * Declare style of User info.
 */

#content-wrapper {
  .user-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;

    .user-content-wrapper {
      width: 100%;
      height: 100%;
      @include opaque;
      @include single-transition(opacity, $page-shift-duration);

      overflow: hidden;
      @include box-sizing(border-box);
      padding: 2em;

      & > div {
        width: 100%;
        height: 100%;
      }

      .left-col {
        width: 20%;
        height: 100%;
        float: left;
        border-right: 1px solid $grey;
        .user-name {
          font-size: 1.8em;
          font-weight: bold;
          margin-bottom: 1em;
        }
        .user-type {
          font-style: italic;
          margin-bottom: 0.5em;
        }
        .user-info .entry {
          line-height: 1.1em;
        }
      }
      .right-col {
        overflow-x: hidden;
        height: 100%;
        padding: 0 4em;

        .user-disk {
          margin-bottom: 1em;

          header {
            font-size: 1.5em;
            color: darken($grey, 20%);
          }
          
          .user-disk-list {
            @include box-sizing(border-box);
            @extend .better-clearfix;
            padding: 0.5em 0;

            .user-disk-entry {
              $width: 9%;
              width: $width;
              height: 0;
              padding: 0;
              padding-bottom: $width * 3/2;
              float: left;
              margin-right: 1%;

              background: transparent;
              @include background-size(contain);
              background-position: center top;
              background-repeat: no-repeat;
            }
          }
        }
      }
    }

    & > .spinner {
      display: none;
    }
    &.loading {
      & > .spinner {
        display: block;
      }
      
      .user-content-wrapper {
        @include transparent;
        @include page-shift;
      }
    }
  }
}