*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html

#sublime-text 2
*.sublime*
sftp-config.json

#project
.htaccess
A_LETTER_TO_HACKER
/asset/css/screen.css
/asset/js/application.min.js
/asset/js/backend.min.js
