<div class="doc-detail">
	<header>
		<h2 class="doc-title">
			{{doc.title}}
		</h2>
		<div class="doc-action">
			<a href="{{base_url|attr}}{{doc.doc_url.url|attr}}?force_download=true&dn_name={{doc.doc_url.name|attr}}" alt="Download {{doc.title}}">Download</a>
			<a href="{{base_url|attr}}{{doc.doc_url.url|attr}}" target="_blank" alt="{{doc.title}}">View in New Window</a>
		</div>
	</header>
	<div class="doc-content">
		<iframe class="doc-file" src="http://docs.google.com/viewer?url={{encodeURIComponent(base_url+doc.doc_url.url)|attr}}&embedded=true" sandbox="allow-scripts allow-same-origin"></iframe>
	</div>
</div>