<div class="doc-wrapper">
	<div class="left-panel">
		<div class="doc-list-wrapper">
			<div class="anchor">
				Loading
			</div>
		</div>
	</div>
	<div class="right-panel loading">
		<div class="spinner">
			<div class="item-0"><div></div><div></div></div>
			<div class="item-1"><div></div><div></div></div>
			<div class="item-2"><div></div><div></div></div>
			<div class="item-3"><div></div><div></div></div>
			<div class="item-4"><div></div><div></div></div>
			<div class="item-5"><div></div><div></div></div>
			<div class="item-6"><div></div><div></div></div>
			<div class="item-7"><div></div><div></div></div>
		</div>
		<div class="doc-content-wrapper" hidden>
		</div>
	</div>
</div>