<div class="library-wrapper">
	<div class="left-panel">
		<div class="wrapper">
			<div class="library-search">
				<input type="text" name="search_term" placeholder="Seach Disk..." autocomplete="off" spellcheck="false">
				<button class="search_button" controls="search"></button>
				<div class="search-suggestion" hidden>
				</div>
			</div>
			<div class="search-tips">
				Tips: You may use syntax like <u>director:(Nolan)</u> to search movies whose director is Nolan. Support Terms: fulltext, actor, tag, director.
			</div>
			<button class="library-button" controls="random">
				Lucky Random
			</button>
			<button class="library-button" controls="popular">
				Top Popular
			</button>
			<button class="library-button" controls="rank">
				Top Ranked
			</button>
		</div>
	</div>
	<div class="right-panel loading" hidden>
	</div>
</div>