<div class="library-list loading">
	<div class="spinner">
		<div class="item-0"><div></div><div></div></div>
		<div class="item-1"><div></div><div></div></div>
		<div class="item-2"><div></div><div></div></div>
		<div class="item-3"><div></div><div></div></div>
		<div class="item-4"><div></div><div></div></div>
		<div class="item-5"><div></div><div></div></div>
		<div class="item-6"><div></div><div></div></div>
		<div class="item-7"><div></div><div></div></div>
	</div>
	<button class="prev-button" hidden>&lt;</button>
	<div class="list-item-wrapper">
	</div>
	<button class="next-button" hidden>&gt;</button>
</div>