<div class="list-item">
	<div class="disk-wrapper">
		<div class="disk-cover">
			<div class="disk-cover-border">
			</div>
		</div>
		<div class="disk-info">
			<div class="disk-title">
				{{disk.title_en}}<br>
				{{disk.title_ch}}
			</div>
			<div class="disk-state {{disk.avail_type|attr}}">
				{{!(disk.avail_type!=="ReservedCounter"&&disk.avail_type!=="OnDelivery")?"Reserved":disk.avail_type}}
			</div>
			<a class="button-link disk-detail-button" href="#!library/{{disk.id|attr}}/" alt="View Detail">View Detail</a>
		</div>
	</div>
</div>