<div class="publication-wrapper">
	<div class="left-panel">
		<div class="top-face">
			<div class="top-navigation">
				<button class="btn-rotate-left">&lt;&lt;</button>
				Magazine
				<button class="btn-rotate-right">&gt;&gt;</button>
			</div>
			<div class="publication-magazine-list-wrapper">
				<div class="anchor">
					Loading
				</div>
			</div>
		</div>
		<div class="left-face">
			<div class="top-navigation">
				<button class="btn-rotate-left">&lt;&lt;</button>
				Micro Magazine
				<button class="btn-rotate-right">&gt;&gt;</button>
			</div>
			<div class="publication-micromagazine-list-wrapper">
				<div class="anchor">
					Loading
				</div>
			</div>
		</div>
		<div class="right-face">
			<div class="top-navigation">
				<button class="btn-rotate-left">&lt;&lt;</button>
				Podcast
				<button class="btn-rotate-right">&gt;&gt;</button>
			</div>
			<div class="publication-podcast-list-wrapper">
				<div class="anchor">
					Loading
				</div>
			</div>
		</div>
	</div>
	<div class="right-panel loading">
		<div class="spinner">
			<div class="item-0"><div></div><div></div></div>
			<div class="item-1"><div></div><div></div></div>
			<div class="item-2"><div></div><div></div></div>
			<div class="item-3"><div></div><div></div></div>
			<div class="item-4"><div></div><div></div></div>
			<div class="item-5"><div></div><div></div></div>
			<div class="item-6"><div></div><div></div></div>
			<div class="item-7"><div></div><div></div></div>
		</div>
		<div class="publication-content-wrapper" hidden>
		</div>
	</div>
</div>