<div class="publication-detail">
	<header>
		<h2 class="publication-title">
			{{publication.title}}
		</h2>
		<div class="publication-action">
			<a href="{{base_url|attr}}{{publication.doc_url.url|attr}}?force_download=true&dn_name={{publication.doc_url.name|attr}}" alt="Download">Download</a>
			<a href="{{base_url|attr}}{{publication.doc_url.url|attr}}" target="_blank" alt="Open in New Window">Open in New Window</a>
		</div>
	</header>
	<div class="publication-content">
		<div class="publication-podcast">
			<audio class="podcast-player">
				<p>Sorry, your browser doesn't support playing audio</p>
				<p>You may try to Open it in New Window</p>
			</audio>
			<div class="podcast-control-wrapper">
				<div class="podcast-cover">
				</div>
				<div class="podcast-play loading">
					<div class="spinner">
						<div class="item-0"><div></div><div></div></div>
						<div class="item-1"><div></div><div></div></div>
						<div class="item-2"><div></div><div></div></div>
						<div class="item-3"><div></div><div></div></div>
						<div class="item-4"><div></div><div></div></div>
						<div class="item-5"><div></div><div></div></div>
						<div class="item-6"><div></div><div></div></div>
						<div class="item-7"><div></div><div></div></div>
					</div>
				</div>
			</div>

			<div class="podcast-time">
				<span class="podcast-played">00:00</span>/<span class="podcast-duration">??:??</span>
			</div>
		</div>
	</div>
</div>