<div class="richtext-item-wrapper loading">
	<div class="richtext-rfs-title">
		Regular Film Show
	</div>
	<div class="richtext-rfs-detail">
		<div class="richtext-rfs-item" refer="1">
			<div class="rfs-cover-title">
				{{rfs.film_1.title_en}}<br>
				{{rfs.film_1.title_ch}}
			</div>
		</div>
		<div class="richtext-rfs-item" refer="2">
			<div class="rfs-cover-title">
				{{rfs.film_2.title_en}}<br>
				{{rfs.film_2.title_ch}}
			</div>
		</div>
		<div class="richtext-rfs-item" refer="3">
			<div class="rfs-cover-title">
				{{rfs.film_3.title_en}}<br>
				{{rfs.film_3.title_ch}}
			</div>
		</div>
	</div>
</div>