<div id="disk-edit-form" class="page-form">
	<div>
		<div class="cover-drop">
			<div class="cover-container">
				<img src="../asset/css/2x3.png" alt="">
				<div class="drag-notifier" hidden>Drop...</div>
			</div>
			<div>Drag Cover Picture Over Here</div>
			<div class="progressbar-track" hidden>
				<div class="progressbar-bar"></div>
			</div>
			<span class="progressbar-progress" hidden></span>
		</div>
		<input type="hidden" name="cover_url" value="{{disk.cover_url?disk.cover_url.id:''|attr}}">
		<div class="disk-side-edit multiline">
			<label>
				<span>Disk Type: </span>
				<select name="disk_type">
					<option value="A" {{disk.disk_type==='A'?'selected':''|safe}}>VCD</option>
					<option value="B" {{disk.disk_type==='B'?'selected':''|safe}}>DVD</option>
				</select>
			</label>
			<label>
				<span>English Name: </span>
				<input type="text" name="title_en" placeholder="The English name of this film" value="{{disk.title_en|attr}}">
			</label>
			<label>
				<span>Chinese Name: </span>
				<input type="text" name="title_ch" placeholder="The Chinese name of this film" value="{{disk.title_ch|attr}}">
			</label>
			<label>
				<span>Year: </span>
				<input type="text" name="show_year" placeholder="The year of showing" value="{{disk.show_year|attr}}">
			</label>
			<label>
				<span>Tags: </span>
				<input type="text" role="list" name="tags" placeholder="Tags, splitted by ','" value="{{disk.tags.join(', ')|attr}}">
			</label>
			<label>
				<span>Director's English Name:</span>
				<input type="text" name="director_en" placeholder="English name" value="{{disk.director_en|attr}}">
			</label>
			<label>
				<span>Director's Chinese Name: </span>
				<input type="text" name="director_ch" placeholder="Chinese name" value="{{disk.director_ch|attr}}">
			</label>
			<label>
				<span>Actors: </span>
				<input type="text" role="list" name="actors" placeholder="Main actors' English names, splitted by ','" value="{{disk.actors.join(', ')|attr}}">
			</label>
		</div>
	</div>
	<div class="nocell">
		<label>
			<span>IMDB Link: http://www.imdb.com/title/</span>
			<input type="text" name="imdb_url" maxlengt="9" placeholder="tt0000000 (tt+7 digits)" value="{{disk.imdb_url|attr}}">
			<span>/</span>
		</label>
	</div>
	<div class="single-table">
		<div>
			<label>
				<span>Length: </span>
				<input type="text" name="length" placeholder="Length of the film (in minutes)" value="{{disk.length|attr}}">
			</label>
			<label>
				<span>Category: </span>
				<select name="category">
					<option value="I" {{disk.category==='I'?'selected':''|safe}}>I</option>
					<option value="II A" {{disk.category==='II A'?'selected':''|safe}}>II A</option>
					<option value="II B" {{disk.category==='II B'?'selected':''|safe}}>II B</option>
					<option value="III" {{disk.category==='III'?'selected':''|safe}}>III</option>
					<option value="" {{!disk.category?'selected':''|safe}}>Unknown</option>
				</select>
			</label>
		</div>
		<div>
			<label>
				<div>English Description:</div>
				<textarea name="desc_en" rows="10">{{disk.desc_en}}</textarea>
			</label>
			<label>
				<div>Chinese Description:</div>
				<textarea name="desc_ch" rows="10">{{disk.desc_ch}}</textarea>
			</label>
		</div>
	</div>
	<div class="info">
		<h3>Miscellaneous Disk Info</h3>
		<div>ID: {{disk.id}}</div>
		<div>Call Number: {{cn}}</div>
		<div>Borrow count: {{disk.borrow_cnt}}</div>
		<div>Availability: {{disk.avail_type}}</div>
		<div {{disk.avail_type==='Borrowed'?'':'hidden'|safe}}>Due At: {{disk.due_at}}</div>
		<div {{disk.avail_type==='Borrowed'?'':'hidden'|safe}}>Hold By: {{disk.hold_by?disk.hold_by.itsc:''}}</div>
		<div {{if(disk.avail_type==='Reserved')'';else if(disk.avail_type==='ReservedCounter')'';else 'hidden';|safe}}>Reserved By: {{disk.reserved_by?disk.reserved_by.itsc:''}}</div>
		<div>Created At: {{disk.create_log.created_at}}</div>
	</div>
</div>
