<div role="listitem">
    <div>
        <div class="pos-column column">
            <div class="static-text">{{exco.position}}</div>
        </div>
        <div class="name-column column">
            <div class="static-text">{{exco.name_ch}} / {{exco.name_en}}</div>
        </div>
        <div class="email-column column">
            <div class="static-text">{{exco.email}}</div>
        </div>
        <div class="column-button">
            <button class="custom-appearance list-inline-button" control="edit">Edit</button>
        </div>
    </div>
</div>