<div class="exco-view">
    <header>
        <h1>Exco Management</h1>
        <div class="controls">
            <div class="column-header">
                <div class="pos-column column">
                    <div class="static-text">Position</div>
                </div>
                <div class="name-column column">
                    <div class="static-text">Name</div>
                </div>
                <div class="email-column column">
                    <div class="static-text">Email</div>
                </div>
            </div>
        </div>
    </header>
    <div class="content">
        <list id="exco-list-list" role="list" tabindex="2">
        </list>
    </div>
    <footer>
        <div>
            <div class="lefthub">
                <button id="page-prev" class="link-button">&lt;&lt;Prev</button>
            </div>
            <div class="centerhub">
                <span>&nbsp;</span>
            </div>
            <div class="righthub">
                <button id="page-next" class="link-button">Next&gt;&gt;</button>
            </div>
        </div>
    </footer>
</div>