<div role="listitem">
    <div>
        <div class="film-column column">
            <div class="static-text">{{ons.film}}</div>
        </div>
        <div class="content-column column">
            <div class="static-text">{{ons.content}}</div>
        </div>
        <div class="column-button">
            <button class="custom-appearance list-inline-button" control="edit">Edit</button>
            <button class="custom-appearance list-inline-button" control="delete">Delete</button>
        </div>
    </div>
</div>