<div role="listitem">
    <div>
        <div class="cover-column column">
            <img src="../asset/css/square.png" alt="">
        </div>
        <div class="title-column column">
            <div class="static-text">{{publication.title}}</div>
        </div>
        <div class="type-column column">
            <div class="static-text">{{publication.Type}}</div>
        </div>
        <div class="column-button">
            <button class="custom-appearance list-inline-button" control="edit">Edit</button>
            <button class="custom-appearance list-inline-button" control="delete">Delete</button>
        </div>
    </div>
</div>