<div role="listitem">
    <div>
        <div class="disk-column column">
            <div class="static-text">{{review.disk}}</div>
        </div>
        <div class="user-column column">
            <div class="static-text">{{review.poster.itsc}}</div>
        </div>
        <div class="content-column column">
            <div class="static-text">{{review.content}}</div>
        </div>
        <div class="column-button">
            <button class="custom-appearance list-inline-button" control="delete">Delete</button>
        </div>
    </div>
</div>