<div class="review-view">
    <header>
        <h1>Disk Review Management</h1>
        <div class="corner">
            <input type="search" autocomplete="off" placeholder="Search Disk Review..." tabindex="1" autofocus value="{{query|attr}}">
        </div>
        <div class="controls weak-rtl">
            <button id="review-view-log">View Logs</button>
        </div>
        <div class="controls">
            <div class="column-header">
                <div class="disk-column column">
                    <div class="static-text">Disk</div>
                </div>
                <div class="user-column column">
                    <div class="static-text">User</div>
                </div>
                <div class="content-column column">
                    <div class="static-text">Content</div>
                </div>
            </div>
        </div>
    </header>
    <div class="content">
        <list id="review-list-list" role="list" tabindex="2">
        </list>
    </div>
    <footer>
        <div>
            <div class="lefthub">
                <button id="page-prev" class="link-button">&lt;&lt;Prev</button>
            </div>
            <div class="centerhub">
                <span>&nbsp;</span>
            </div>
            <div class="righthub">
                <button id="page-next" class="link-button">Next&gt;&gt;</button>
            </div>
        </div>
    </footer>
</div>