<div id="rfs-create-form" class="page-form">
	<div>
		<label>
			<span>Film 1:</span>
			<input type="text" name="film_1" spellcheck="false" autocomplete="off" maxlength="5" placeholder="Call Number">
		</label>
	</div>
	<div>
		<label>
			<span>Film 2:</span>
			<input type="text" name="film_2" spellcheck="false" autocomplete="off" maxlength="5" placeholder="Call Number">
		</label>
	</div>
	<div>
		<label>
			<span>Film 3:</span>
			<input type="text" name="film_3" spellcheck="false" autocomplete="off" maxlength="5" placeholder="Call Number">
		</label>
	</div>
	<div class="nocell">
		<label>
			<div>Remarks:</div>
			<textarea name="remarks" placeholder="Remarks of this Regular Film Show..." rows="5"></textarea>
		</label>
	</div>
</div>
