<div role="listitem">
    <div>
        <div class="img-column column">
            <img src="../asset/css/square.png" alt="">
        </div>
        <div class="name-column column">
            <div class="static-text">{{sponsor.name}}</div>
        </div>
        <div class="column-button">
            <button class="custom-appearance list-inline-button" control="edit">Edit</button>
            <button class="custom-appearance list-inline-button" control="delete">Delete</button>
        </div>
    </div>
</div>