<div role="listitem">
    <div>
        <div class="cover-column column">
            <img src="../asset/css/square.png" alt="">
        </div>
        <div class="name-column column">
            <div class="static-text">{{ticket.title_en}}/{{ticket.title_ch}}</div>
        </div>
        <div class="quantity-column column">
            <div class="static-text">{{ticket.quantity}}</div>
        </div>
        <div class="state-column column">
            <div class="static-text">{{ticket.state}}</div>
        </div>
        <div class="deadline-column column">
            <div class="static-text">{{ticket.apply_deadline}}</div>
        </div>
        <div class="column-button">
            <button class="custom-appearance list-inline-button" control="edit">Edit</button>
            <button class="custom-appearance list-inline-button" control="viewlog">View Reated Log</button>
            <button class="custom-appearance list-inline-button" control="delete">Delete</button>
        </div>
    </div>
</div>